<a href="https://colab.research.google.com/github/kcarty2/PYH225_Homework/blob/master/Final_Project_DOB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Department of Buildings Work Permit for Change of Occupancy**


---

## Import Data

In [47]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns


path = "output.csv"
df = pd.read_csv("/output.csv")
#import dataset from google drive

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,20,29,31,32,38,78,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [48]:
df.info

<bound method DataFrame.info of             Job #  ...    GIS_BIN
0       310085421  ...  3030873.0
1       122698090  ...  1007576.0
2       122750941  ...  1036474.0
3       302162424  ...  3003687.0
4       421233025  ...  4303820.0
...           ...  ...        ...
253246  302038863  ...  3252853.0
253247  302041779  ...  3199210.0
253248  302041779  ...  3199210.0
253249  302041779  ...  3199210.0
253250  302042787  ...  3182480.0

[253251 rows x 96 columns]>

In [49]:
df

            Job #  ...    GIS_BIN
0       310085421  ...  3030873.0
1       122698090  ...  1007576.0
2       122750941  ...  1036474.0
3       302162424  ...  3003687.0
4       421233025  ...  4303820.0
...           ...  ...        ...
253246  302038863  ...  3252853.0
253247  302041779  ...  3199210.0
253248  302041779  ...  3199210.0
253249  302041779  ...  3199210.0
253250  302042787  ...  3182480.0

[253251 rows x 96 columns]

In [50]:
df.columns

Index(['Job #', 'Doc #', 'Borough', 'House #', 'Street Name', 'Block', 'Lot',
       'Bin #', 'Job Type', 'Job Status', 'Job Status Descrp',
       'Latest Action Date', 'Building Type', 'Community - Board', 'Cluster',
       'Landmarked', 'Adult Estab', 'Loft Board', 'City Owned', 'Little e',
       'PC Filed', 'eFiling Filed', 'Plumbing', 'Mechanical', 'Boiler',
       'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
       'Equipment', 'Fire Suppression', 'Curb Cut', 'Other',
       'Other Description', 'Applicants First Name', 'Applicants Last Name',
       'Applicant Professional Title', 'Applicant License #',
       'Professional Cert', 'Pre- Filing Date', 'Paid', 'Fully Paid',
       'Assigned', 'Approved', 'Fully Permitted', 'Initial Cost',
       'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft',
       'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
       'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
       'Proposed No. of Stories', 'Existing Height', 'Proposed Height',
       'Existing Dwelling Units', 'Proposed Dwelling Units',
       'Existing Occupancy', 'Proposed Occupancy', 'Site Fill', 'Zoning Dist1',
       'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
       'Special District 2', 'Owner Type', 'Non-Profit', 'Owners First Name',
       'Owners Last Name', 'Owners Business Name', 'Owners House Number',
       'OwnersHouse Street Name', 'City ', 'State', 'Zip', 'OwnersPhone #',
       'Job Description', 'DOBRunDate', 'JOB_S1_NO',
       'TOTAL_CONSTRUCTION_FLOOR_AREA', 'WITHDRAWAL_FLAG', 'SIGNOFF_DATE',
       'SPECIAL_ACTION_STATUS', 'SPECIAL_ACTION_DATE', 'BUILDING_CLASS',
       'JOB_NO_GOOD_COUNT', 'GIS_LATITUDE', 'GIS_LONGITUDE',
       'GIS_COUNCIL_DISTRICT', 'GIS_CENSUS_TRACT', 'GIS_NTA_NAME', 'GIS_BIN'],
      dtype='object')

**Problem Statement:**
The purpose of this research is to identify buildings that was converted from single family to 2 family dwellings in Bronx, New York. Additionally, the architect who submitted application must be identified.

In [0]:
df2 = df.drop(columns=['Doc #', 'Block', 'Lot',
       'Bin #', 'Job Type', 'Building Type', 'Community - Board', 'Cluster',
       'Landmarked', 'Adult Estab', 'Loft Board', 'City Owned', 'Little e',
       'PC Filed', 'eFiling Filed', 'Plumbing', 'Mechanical', 'Boiler',
       'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
       'Equipment', 'Fire Suppression', 'Curb Cut', 'Other', 'Professional Cert', 'Fully Paid', 'Existing Zoning Sqft',
       'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
       'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
       'Proposed No. of Stories', 'Existing Height', 'Proposed Height', 'Site Fill',
       'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
       'Special District 2', 'Non-Profit', 'DOBRunDate', 'JOB_S1_NO',
       'TOTAL_CONSTRUCTION_FLOOR_AREA', 'WITHDRAWAL_FLAG', 'SIGNOFF_DATE',
       'SPECIAL_ACTION_STATUS', 'SPECIAL_ACTION_DATE', 'BUILDING_CLASS',
       'JOB_NO_GOOD_COUNT', 'GIS_LATITUDE', 'GIS_LONGITUDE',
       'GIS_COUNCIL_DISTRICT', 'GIS_CENSUS_TRACT', 'GIS_NTA_NAME', 'GIS_BIN'])



# Removed unwanted collumns
      #  'Job #', 'Doc #', 'Borough', 'House #', 'Street Name', 'Block', 'Lot',
      #  'Bin #', 'Job Type', 'Job Status', 'Job Status Descrp',
      #  'Latest Action Date', 'Building Type', 'Community - Board', 'Cluster',
      #  'Landmarked', 'Adult Estab', 'Loft Board', 'City Owned', 'Little e',
      #  'PC Filed', 'eFiling Filed', 'Plumbing', 'Mechanical', 'Boiler',
      #  'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
      #  'Equipment', 'Fire Suppression', 'Curb Cut', 'Other',
      #  'Other Description', 'Applicants First Name', 'Applicants Last Name',
      #  'Applicant Professional Title', 'Applicant License #',
      #  'Professional Cert', 'Pre- Filing Date', 'Paid', 'Fully Paid',
      #  'Assigned', 'Approved', 'Fully Permitted', 'Initial Cost',
      #  'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft',
      #  'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
      #  'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
      #  'Proposed No. of Stories', 'Existing Height', 'Proposed Height',
      #  'Existing Dwelling Units', 'Proposed Dwelling Units',
      #  'Existing Occupancy', 'Proposed Occupancy', 'Site Fill', 'Zoning Dist1',
      #  'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
      #  'Special District 2', 'Owner Type', 'Non-Profit', 'Owners First Name',
      #  'Owners Last Name', 'Owners Business Name', 'Owners House Number',
      #  'OwnersHouse Street Name', 'City ', 'State', 'Zip', 'OwnersPhone #',
      #  'Job Description', 'DOBRunDate', 'JOB_S1_NO',
      #  'TOTAL_CONSTRUCTION_FLOOR_AREA', 'WITHDRAWAL_FLAG', 'SIGNOFF_DATE',
      #  'SPECIAL_ACTION_STATUS', 'SPECIAL_ACTION_DATE', 'BUILDING_CLASS',
      #  'JOB_NO_GOOD_COUNT', 'GIS_LATITUDE', 'GIS_LONGITUDE',
      #  'GIS_COUNCIL_DISTRICT', 'GIS_CENSUS_TRACT', 'GIS_NTA_NAME', 'GIS_BIN'],
      # dtype='object')

# need if statement to pull dataset for occupancy and proposed occupancy.
        # if occupancy == 1 
        #   return
        #   else do not return

        # if proposed occupancy == 2
        #   return
        #   else do not return

        # sort values

        # Not sorting on job status

In [52]:
df3 = df2[~df2['Borough'].isin(['MANHATTAN', 'BROOKLYN', 'QUEENS', 'STATEN ISLAND'])] #Filtered out unwanted borughs
df4 = df3[~df3['Job Status Descrp'].isin(['PERMIT ISSUED - ENTIRE JOB/WORK'])]
df5 = df4.sort_values(by ='Job Status' , ascending=False)
df4

            Job #  ...                                    Job Description
6       220538611  ...                            NEW MIXED USE BUILDING.
21      201197463  ...  SF/PS32X - SUBMITTING ON BEHALF OF CONTRACTOR ...
35      220415067  ...  INSTALLATION OF ADDITIONAL RRU UNITS ON ROOF. ...
36      220416725  ...  INSTALLATION OF NEW TELECOMMUNICATIONS ANTENNA...
90      220603862  ...                   DEMOLITION OF A 1 STORY BUILDING
...           ...  ...                                                ...
252905  210025202  ...                                                NaN
252906  210025211  ...                                                NaN
252907  210025220  ...                                                NaN
252908  210032631  ...                                                NaN
252909  210032640  ...                                                NaN

[12974 rows x 36 columns]