<a href="https://colab.research.google.com/github/kcarty2/PYH225_Homework/blob/master/Homework_1_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

In [0]:
Placeholer = None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.



# Create another variable that represents your favorite color, and do the same steps as above.
Favorite_number = 11
#Favorite basketball jersey number
print(Favorite_number)

Favorite_color = 'white'
#Favorite car color
print(Favorite_color)

11
white



### P3.PY

In [2]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

favorite_song_lyrics = """
"How you can grant your woman access to your villa
Trespasser and a witness while you cling to your pillow
You better watch your back before she turn into a killer
Let's review the situation that you're caught up inna
To be a true player you have to know how to play
If she"
"""
Song_title = "It Wasn't me"
Artist = "Shaggy"
print(Song_title)
print(Artist)
print(favorite_song_lyrics)

It Wasn't me
Shaggy

"How you can grant your woman access to your villa
Trespasser and a witness while you cling to your pillow
You better watch your back before she turn into a killer
Let's review the situation that you're caught up inna
To be a true player you have to know how to play
If she"

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50



# Subtract 90



# Multiply 10



# Divide 150



# Modulus 3


latest_score = 100

latest_score += 50
print(latest_score)
latest_score -= 90
print(latest_score)
latest_score *= 10
print(latest_score)
latest_score /= 150
print(latest_score)
latest_score %= 3
print(latest_score)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2
sum_ab = a + b
print(sum_ab)

# B)
c = '0'
d = '2'
sum_cd = c + d
print(sum_cd)



# C)
e = '0'
f = 2

try:
  Sum_ef = e + f
except TypeError: 
  print("E and F are not the same type")

2
02
E and F are not the same type



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

a=str(True) #True
b=str(True) #True

ab_sum = a and b
print(ab_sum)


# B)
c = False
d = False
c=str(False) #False
d=str(False) #False
print(c and d)


# C)
e = True
f = False
e=str(True) #true
f=str(False) #false
print(e and f)

True
False
False

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
five = float(5)
print(five)

zero = 0
zero = float(0)
print(zero)

neg_8 = -8
neg_8 = float(-8)
print(neg_8)

neg_22 = -22
neg_22 = float(-22)
print(neg_22)

5.0
0.0
-8.0
-22.0



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. 
# What do you notice about the last one?

five = 5
five_str = str(five)
print(five_str)

five_str = int(five)
print(five_str)

zero = 0
zero = str(0) #string
zero_int = int(zero) #back to integer
print(zero)
print(zero_int)


neg_8 = -8
neg_8_str = str(-8) #String
neg_8_int = int(neg_8_str) #back to integer
print(neg_8_str)
print(neg_8_int)

T = True
F = False
string_int_true = int(True) #String to integer True
string_int_false = int(False) #String to integer False
int_string_true = str(string_int_true) #integer to string True
int_string_false = str(string_int_false) #integer to string False
print(string_int_true)
print(string_int_false)
print(int_string_true)
print(int_string_false)

# That both variables are booleans. As expexted, 1 = ture, and 0 =false

5
5
0
0
-8
-8
1
0
1
0



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

one = bool(1) #true
zero = bool(0) #false
print(one)
print(zero)



# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
one = float(True) #true = 1
zero = float(False) #false = 0
print(one)
print(zero) 



# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
one = bool(1)
zero = bool(0)
print(one)
print(zero)

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
one = int(True)
zero = int(False)
print(one)
print(zero)

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10
ten_bool = bool(ten)
print(ten_bool)

True
False
1.0
0.0
True
False
1
0
True



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

one = bool(1)
zero = bool (0)
print(one)
print(zero)


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)
print(one)
print(zero)

# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

Variable_T = bool(one) #true
Variable_F = bool(zero) #false
print(Variable_T)
print(Variable_F)

True
False
1
0
True
False

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = "Milk"
item_name_2 = "Apples"
item_name_3 = "Water"
item_name_4 = "Chicken"
item_name_5 = "Grapes"


# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 3.99
item_price_2 = 4.98
item_price_3 = 3.95
item_price_4 = 22.30
item_price_5 = 7.90


# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 2
item_quant_2 = 1
item_quant_3 = 3
item_quant_4 = 1
item_quant_5 = 1


# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2



### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items


item_name_1 = input('Name your first item: ')
item_name_2 = input('Name your second item: ')
item_name_3 = input('Name your third item: ')
item_name_4 = input('Name your fourth item: ')
item_name_5 = input('Name your fifth item: ')

# use input() function and ask user to name prices
item_price_1 = input('Price for item 1: ')
item_price_2 = input('Price for item 2: ')
item_price_3 = input('Price for item 3: ')
item_price_4 = input('Price for item 4: ')
item_price_5 = input('Price for item 5: ')

# use input() function and ask user to name quants
item_quant_1 = input('Quantity for item 1: ')
item_quant_2 = input('Quantity for item 2: ')
item_quant_3 = input('Quantity for item 3: ')
item_quant_4 = input('Quantity for item 4: ')
item_quant_5 = input('Quantity for item 5: ')


# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

Name your first item: Coco Puffs
Name your first item:
Name your second item:
Name your third item:
Name your fourth item:
Name your fifth item:
Price for item 1: 8.95
Price for item 2:
Price for item 3:
Price for item 4:
Price for item 5:
Quantity for item 1: 1
Quantity for item 2:
Quantity for item 3:
Quantity for item 4:
Quantity for item 5: