<a href="https://colab.research.google.com/github/kcarty2/PYH225_Homework/blob/master/HW3_lists_psets%20Ken%20Carty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.
anim = ['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
print(anim)

# Print the 4th animal on the list.
print(anim[3])

# Add 'tortoise' to the beginning of the list.
anim.insert(0, 'tortoise')
print(anim)

# Print the length of the list.
print(len(anim))

# Remove 'orangutan' from the list.
anim.remove('orangutan')
print(anim)

# Sort the list alphabetically and print it out.
sorted_anim_list = sorted(anim)
print(f"sorted version: {sorted_anim_list}")
print(anim)

['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
orangutan
['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
6
['tortoise', 'elephant', 'tiger', 'otter', 'penguin']
sorted version: ['elephant', 'otter', 'penguin', 'tiger', 'tortoise']
['tortoise', 'elephant', 'tiger', 'otter', 'penguin']



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
jspec = ['honda', 'toyota', 'nissan', 'subaru', 'mazda']

# Print the 3rd name on the list
print(jspec[2])


# Delete the first name on the list
jspec.remove('honda')
print(jspec)


# Re-add the name you deleted to the end of the list
jspec.insert(4,'honda')
print(jspec)

# Replace the 2nd name on the list with a new name.
jspec.remove('nissan')
jspec.insert(1,'infiniti')
print(jspec)

# Add 3 new names to the end of the list.
jspec.append('acura')    
jspec.append('lexus')
jspec.append('suzuki')
#('acura', 'lexus', 'suzuki')
print(jspec)

nissan
['toyota', 'nissan', 'subaru', 'mazda']
['toyota', 'nissan', 'subaru', 'mazda', 'honda']
['toyota', 'infiniti', 'subaru', 'mazda', 'honda']
['toyota', 'infiniti', 'subaru', 'mazda', 'honda', 'acura', 'lexus', 'suzuki']



### P3.PY

In [5]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = [2, 4, 6, 8]
print(numbers)

# Print the max of `numbers`.
print(f'highest number: {max(numbers)}')


# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.
numbers.pop()
print(numbers)
numbers.insert(2, 8)
print(numbers)

#Pop the second number in `numbers` off.
numbers.pop(1)
print(numbers)

# Append `3` to `numbers`.
numbers.append(3)
print(numbers)


# Print out the average number.

average_number = sum(numbers) / len(numbers)
print(average_number)


#print(f'average number is {average_number}!')

[2, 4, 6, 8]
highest number: 8
[2, 4, 6]
[2, 4, 8, 6]
[2, 8, 6]
[2, 8, 6, 3]
4.75



## SORTING

### P1.PY

In [0]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.

playlist_titles.sort()
print(playlist_titles)

# Now do the reverse.
playlist_titles.sort(reverse = True)
print(playlist_titles)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [0]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.
numbers = [1, 3, 5, 7, 9, 11]
descending_numbers = numbers.sort(reverse = True)
print(numbers)

[11, 9, 7, 5, 3, 1]

## LIST MANIPULATION

### P1.PY

In [9]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'
number_string = cell.split('.')
ip = ''.join(number_string)
print(f'This is iP address {ip}')

This is iP address 11921680143



### P2.PY

In [10]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

import statistics
nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]

my_sum = sum(nums)
print(f'my_sum = {my_sum}')
my_min = min(nums)
print(f'my_min = {my_min}')
my_max = max(nums)
print(f'my_max = {my_max}')
my_range = ( max(nums) - min(nums) )
print(f'my_range = {my_range}')
my_mean = (my_sum) / len(nums)
print(f'my_mean = {my_mean}')

# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

my_sum = 174
my_min = 2
my_max = 30
my_range = 28
my_mean = 17.4



### P3.PY

In [60]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]
print(f' list: {list1}') 
print(f' list2: {list2}')

# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
larger_list = [3]
list3 = [list1] + [list1]
print(f' A: {list3}')


# B) Combine the two given lists and assign them to list4.
list4 = list1 + list2
print(f' B: {list4}')


# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[0] = 13, 16, 9
print(f' C: {list3}')

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = list3 + list4
print(f' D: {list5}')


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

 list: [2, 8, 6]
 list2: [10, 4, 12]
 A: [[2, 8, 6], [2, 8, 6]]
 B: [2, 8, 6, 10, 4, 12]
 C: [(13, 16, 9), [2, 8, 6]]
 D: [(13, 16, 9), [2, 8, 6], 2, 8, 6, 10, 4, 12]



### P4.PY

In [65]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

cool_runnings_bobsled = ' '.join(cool_runnings)
print(f'''
Feel the rhythm.\n
Feel the rhyme.\n
Get on up.\n
It\'s' bobsled time! 
''')

Feel the rhythm.

Feel the rhyme.

Get on up.

It's' bobsled time!

ERROR! Session/line number was not unique in database. History logging moved to new session 88

## LIST CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]



### P2.PY

In [66]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]

sample.sort()
print(sample)

#def median(sample1):

#sample.sort()
#print(sample1)

#a = float(len(sample))

 #   if a % 2 == 0:
  #      b = float(list[len(list)/2])
   #     c = float(list[(len(list)/2)-1])
    #    d = (b + c) / 2.0
      #  return float(d)

   # if a % 2 > 0:
    #    return float(list[len(list)/2])

#myList = [1,8,10,11,5]
#myList2 = [10,5,7,2,1,8]

#print(median(myList))
#print(median(myList2))
#my_mode = 
#my_variance = 
#my_sd = 

# Once you finish, print out each value **on its own line** in this format: "median = " etc.

[6, 6, 8, 12, 19, 20, 24, 25, 28, 30]