<a href="https://colab.research.google.com/github/kcarty2/PYH225_Homework/blob/master/HW_dict_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  DICTS

## BASICS

### P1.PY

In [0]:
"""
Intro to Dict Concepts
"""

d1 = {}

# B) Create a dict called d2 containing the first and last names below:
# Anthony Paollelo, Ping Qiao, Enrique Alvarez, Arjun Dhir 

d2 = {
    'Anthony' : 'Paollelo',
    'Ping' : 'Qiao',
    'Enrique' : 'Alvarez',
    'Arjun' : 'Dhir'
}
print(d2)




# C) Add Allison Zhang person to d2.

d2['Allison'] = 'Zhang'
print(d2)


# D) How many people are now in d2? Print out all their *first* names in the vars below.
print(d2.keys())

#num_people = print(de2.len)

#Version 1
print(len(d2))

#version 2
length = len(d2.items())
print(length)


### first_names = 
print(d2.keys())

# E) Delete a random person from d2 and print his/her name in the var below.
seceded1 = d2.popitem()
print(seceded1)

### x = 


# F) Re-add the name you deleted to the end of d2.
d2['Qiao'] = 'Enrique'
print(d2)

{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhir'}
{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhir', 'Allison': 'Zhang'}
dict_keys(['Anthony', 'Ping', 'Enrique', 'Arjun', 'Allison'])
5
5
dict_keys(['Anthony', 'Ping', 'Enrique', 'Arjun', 'Allison'])
('Allison', 'Zhang')
{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhir', 'Qiao': 'Enrique'}



### P2.PY

In [0]:
"""
Predators & Prey
"""

# A) Create a dict called "pred_prey", containing:
### 3 carnivorous marine animals
### For each carnivore, 3 examples of its prey

pred_prey = {
    'Lion': 'Antelope',
    'Mongoose': 'Snake', 
    'Shark': 'Humans' 
    }
print(pred_prey)



# B) Print out the 2nd predator and its prey in this format:
#### predator2: prey1, prey2, & prey3

pred_keys = list(pred_prey.keys())
pred_values = list(pred_prey.values())

print(f'predator2: {pred_keys[1]}')
print(f'Prey1: {pred_values[0]}')
print(f'Prey2: {pred_values[1]}')
print(f'Prey3: {pred_values[2]}')


# C) Print a unique collection of all the prey in a variable called "prey".


print(f'Prey: {pred_prey.values()}')

{'Lion': 'Antelope', 'Mongoose': 'Snake', 'Shark': 'Humans'}
predator2: Mongoose
Prey1: Antelope
Prey2: Snake
Prey3: Humans
Prey: dict_values(['Antelope', 'Snake', 'Humans'])



### P3.PY

In [0]:
"""
Merging Dicts
"""

# Merge these two dicts without creating a new one.

d1 = {'a': 100, 'b': 200}
d2 = {'c': 300, 'd': 400, 'e': 500}

d1.update(d2)
print(d1)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}



### P4.PY

In [0]:
"""
Lists to Dicts
"""

# Turn these two lists into a dict called grades.

names = ['Taq', 'Zola', 'Valerie', 'Valerie']
scores = [[98, 89, 92, 94], [86, 45, 98, 100], [100, 100, 100, 100], [76, 79, 80, 82]]

grades = dict(zip(names, scores))
print(grades)

{'Taq': [98, 89, 92, 94], 'Zola': [86, 45, 98, 100], 'Valerie': [76, 79, 80, 82]}

## DICT MANIPULATION

### P1.PY

In [0]:
"""
Basic Login
"""

# Imagine you work for a movie streaming service. You're in charge of safeguarding user privacy by 
# ensuring the login feature remains secure. For the sake of example only, below is the dict of user login info. 
# Normally, you wouldn't have access to see this unencrypted of course!

users = {
	'person@email.com': 'PassWord',
	'someone@email.com': 'hiitsme',
	'me@email.com': 'myPassword',
	'anyone@email.com': 'IMawesome',
	'guy@email.com': 'pa$$wordz'
	# etc
}


# A user enters the below login info (email and password) for your app. Search your database of user logins to see if this account 
# exists and if the password matches what you have on file. If the login credentials are correct, print "Successful login!". 
# Otherwise, print "The login info you entered does not match any of our records."

current_user = { 'me@email.com': 'myPassword' }

for u, p in users.items():
	if u in current_user.keys() and p == current_user[u]:
		print('Successful Login!')
	if u in current_user.keys() and p != current_user[u]:
		print('The login info you entered does not match any of our records.')

Successful Login!



### P2.PY

In [21]:
"""
Math with Girl Scout Cookies
"""

# Print out the number of boxes of girl scout cookies that each girl in the troop sold in the below format:
	# Wendy: _____
	# Connie: _____
	# Francesca: _____

Wendy = {'tagalongs': 5, 'thin mints': 12, 'samoas': 8}
Connie = {'tagalongs': 10, 'thin mints': 4, 'samoas': 12}
Francesca = {'tagalongs': 18, 'thin mints': 14, 'samoas': 10}

### salesW = 
### salesC = 
### salesF = 

salesW = (sum(Wendy.values()))
salesC = (sum(Connie.values()))
salesF = (sum(Francesca.values()))

print(f'''
Wendy: {salesW}
Connie: {salesC}
Francesca: {salesF}
'''
)

# For each type of girl scout cookie, print out the total number of boxes sold in the below format:
	# tagalongs: _____
	# thin mints: _____
	# samoas: _____



### total_tagalongs = 
### total_thinmints = 
### total_samoas = 

total_tagalongs = Wendy['tagalongs'] + Connie['tagalongs'] + Francesca['tagalongs']
total_thinmints = Wendy['thin mints'] + Connie['thin mints'] + Francesca['thin mints']
total_samoas = Wendy['samoas'] + Connie['samoas'] + Francesca['samoas']

print(f'''

Tagalongs: {total_tagalongs}
Thinmints: {total_thinmints}
Samoas: {total_samoas}

'''
)

# For each type of girl scout cookie, print out the average number of boxes sold in the below format:
	# tagalongs: _____
	# thin mints: _____
	# samoas: _____

### avg_tagalongs = 
### avg_thinmints = 
### avg_samoas = 



avg_tagalongs = total_tagalongs / 3
avg_thinmints = total_thinmints / 3
avg_samoas = total_samoas / 3

print(f'''

Average tagalongs: {avg_tagalongs}
Average thinmints: {avg_thinmints}
Average samoas: {avg_samoas}
'''
)

# Print out total the number of boxes of cookies the girls sold collectively as follows:
	# "This year we sold ______ boxes!"
### boxes_sold = 

boxes_sold = [total_tagalongs + total_thinmints + total_samoas]

print(f'This year we sold {boxes_sold} boxes!')

Wendy: 25
Connie: 26
Francesca: 42



Tagalongs: 33
Thinmints: 30
Samoas: 30




Average tagalongs: 11.0
Average thinmints: 10.0
Average samoas: 10.0

This year we sold [93] boxes!



### P3.PY

In [1]:
"""
Inverting Keys & Values
"""

# Invert dict1 - make the current keys into values and the current values into keys.


dict1 = { "k1" : "v1", "k2" : "v2", "k3" : "v1" }

# Printing original dictionary  
print ("Original dictionary is : ") 
print(dict1)  
  
print() 
new_dict = {} 
for key, value in dict1.items(): 
   if value in new_dict: 
       new_dict[value].append(key) 
   else: 
       new_dict[value]=[key] 
  
# Printing new dictionary after swapping 
# keys and values 
print ("Dictionary after swapping is :  ")  
print("keys: values") 
for i in new_dict: 
    print(i, " :", new_dict[i])

Original dictionary is :
{'k1': 'v1', 'k2': 'v2', 'k3': 'v1'}

Dictionary after swapping is :
keys: values
v1  : ['k1', 'k3']
v2  : ['k2']

## DICT LOOPS

### P1.PY

In [4]:
"""
Contacts
"""

# You went to a conference and got people to sign up for text updates from your startup. Go through this dict to make the phone numbers readable to a computer. 

# Hint: It can't include any non-numeric
# characters.

contacts = {
	'Jamie': '1.192.168.0143',
	'Kartik': '1.837.209.1121',
	'Grant': '1.826.386.1758',
	'Brandon': '1.935.297.9447',
	'Monique': '1.702.716.5353',
	'Sohom': '1.576.619.6100',
}

for k, v in contacts.items():
    contacts[k] = v.replace(".","")

print(contacts)

{'Jamie': '11921680143', 'Kartik': '18372091121', 'Grant': '18263861758', 'Brandon': '19352979447', 'Monique': '17027165353', 'Sohom': '15766196100'}



### P2.PY

In [13]:
"""
Grades
"""
# Here's a dict containing students' grades from the semester's assignments.

students = {
  'Ashton': [86, 45, 98, 100],
  'Sierra': [100, 100, 100, 100],
  'Zach': [38, 49, 90, 87],
  'Manuel': [98, 92, 86, 100],
  'Felicia': [94, 87, 89, 95],
  'Ankur': [75, 77, 77, 85],
  'Ananya': [98, 94, 87, 92],
  'Nick': [79, 84, 89, 90],
  'Olivia': [83, 91, 69, 85],
  'Molly': [83, 74, 72, 90]
}

# p 1.1) Create a dict called num_grades to store each student's average numerical grade for the semester.

num_grades = ()

for name, grades in students.items():
  num_grades = (sum(grades)/len(grades))
print(num_grades)



# p 1.2) Create a dict called letter_grades to store each student's final letter grade for the semester. Use A, B, C, D, and F as grades per the standard grading scale.

letter_grades = {
	
	'A' : list(range(90,101)),
	'B' : list(range(80,90)),
	'C' : list(range(70,80)),
	'D' : list(range(60,70)),
	'F' : list(range(0, 60))
}


print(letter_grades['A'])



# p 1.3) Create a list of honor roll students (i.e. students who got A's).

print("Honor Roll")
for name, average in num_grades.items():
	if int(average) in letter_grades['A']:
		print(name)
# honor_roll

79.75
[90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Honor Roll

AttributeError: ignored



### P3.PY

In [0]:
"""
Price Inventory
"""

# Imagine you're the owner of an Italian restaurant. You're evaluating your pricing to make sure it's up to date with the latest costs of making each menu item (see the menu prices and costs dicts below). Evaluate whether each item's price returns a profit margin of at least $1.00. If it doesn't, update the menu_prices dict with a new price that gives the item a $1.00 profit margin. Then print out the items which you've repriced in a new dict called price_increases.

menu_prices = {
	'fettuccine bolognese': 14.99,
	'gnocchi gorgonzola': 10.99,
	'chicken parmigiano': 13.99,
	'butternut squash risotto': 9.99,
	'spaghetti carbonara': 12.99,
	'pizza margherita': 12.99,
	'chicken marsala': 13.99
}

menu_costs = {
	'fettuccine bolognese': 12.50,
	'gnocchi gorgonzola': 11.25,
	'chicken parmigiano': 11.75,
	'butternut squash risotto': 6.33,
	'spaghetti carbonara': 12.90,
	'pizza margherita': 14.00,
	'chicken marsala': 11.75
}

# price_increases =

## COUNTERS CHALLENGE

### P1.PY

In [0]:
"""
Word Frequency
"""

# Print out the number of words in this movie quote. Find and print out the most common word in the quote and how many times it was used.
### Hint: You do not need a loop for this. Look up the Counter docs in python3.

from collections import Counter

princess_bride = [
'Hello', 'my', 'name', 'is', 'Inigo', 'Montoya',
'You', 'killed', 'my', 'father',
'Prepare', 'to', 'die'
]

### fave_word = 

# p.s. You might use this to help analyze the most common topic in comments or reviews from your users to help understand the best places to improve you product.



### P2.PY

In [0]:
"""
Summing Dict Values
"""

# Two Kindergarten teachers poll their classes for what fruit they want to eat for snacktime tomorrow. Only one of them is going shopping, so she needs to know how many of each fruit she needs to buy in total. Tally these up and assign them to the "shopping_list" dict.

poll1 = {'apples': 8, 'bananas': 12}
poll2 = {'apples': 6, 'bananas': 6, 'clementines': 8}

### shopping_list =