<a href="https://colab.research.google.com/github/kcarty2/PYH225_Homework/blob/master/HW_taqueria_pset1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taqqui's Taqueria

The dataset accompanying this pset contains a sample of order data from a fictitious Mexican restaurant called Taqqui's Taqueria. For simplicity's sake, this is only a subset of the types of data you'd see for orders from a real restaurant. Moreover, each column contains only one value per row.

For each of these practice problems, try to use functions that give the a targeted answer. For example, .info() provides a plethora of metadata, but if a question asks for a specific piece, try to return just that.

## Data Dictionary

**Order ID**: unique ID for the order

**Filling**: choice of filling

**Taco Quantity**: how many tacos were ordered

**Side**: choice from the menu's side offerings, *OPTIONAL*

**Dessert**: choice from the menu's dessert offerings, *OPTIONAL*

### Menu

**Taco Fillings**
* *Al Pastor*: Sauteed Pork marinated in lemon and pineapple juice
* *Barbacoa*: Shredded Beef
* *Cabeza*: Beef Cheek
* *Camarones*: Grilled shrimp
* *Carne Asada*: Grilled Steak
* *Carnitas*: Diced Pork
* *Chorizo*: Spicy Mexican sausage
* *Hongos*: Grilled Mushrooms
* *Lengua*: Beef Tongue
* *Nopales*: Grilled cactus
* *Pescado*: Marinated Tilapia
* *Picadillo*: Ground Beef
* *Pollo Asada*: Grilled Chicken

**Sides**
* *Esquites*: Mexican street corn with chili powder, queso fresco, and lime juice
* *Frijoles*: Refried beans
* *Guacamole*: Guacamole with tortilla chips

**Desserts**
* **Flan**: Creamy, baked caramel custard
* **Churro**: fried pastry dough coated in cinnamon
* **Tres Leches**: Creamy vanilla cinnamon sponge cake
* **Arroz con Leche**: Spiced rice pudding with raisins

## Practice Section 1

### 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### 2. Load and copy the order data from 'taqueria.csv'. Your ultimate df (dataframe) should be called "orders".

In [0]:
# https://raw.githubusercontent.com/mottaquikarim/pycontent/master/content/raw_data/taqueria.csv

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/mottaquikarim/pycontent/master/content/raw_data/taqueria.csv')
orders = df.copy()
print(orders)

        Filling  Taco Quantity       Side          Dessert  Order ID
0        hongos              3  guacamole  arroz con leche    313389
1       nopales              4   esquites           churro    847727
2     al pastor              3        NaN      tres leches    157624
3      barbacoa              5   frijoles             flan    506812
4   carne asada              4   esquites              NaN    574514
..          ...            ...        ...              ...       ...
95    picadillo              6   esquites  arroz con leche    208063
96       cabeza              5   esquites             flan    949808
97  carne asada              1   frijoles             flan    748810
98    picadillo              4   esquites             flan    490246
99  pollo asada              1        NaN      tres leches    345585

[100 rows x 5 columns]

### 3. View a summary of the metadata for the orders df.

In [12]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Filling        100 non-null    object
 1   Taco Quantity  100 non-null    int64
 2   Side           78 non-null     object
 3   Dessert        79 non-null     object
 4   Order ID       100 non-null    int64
dtypes: int64(2), object(3)
memory usage: 4.0+ KB

### 4. How many rows and columns are there?

In [16]:
orders.shape

(100, 5)

### 5. What are the names of the columns in the orders df?

In [19]:
orders.columns

Index(['Filling', 'Taco Quantity', 'Side', 'Dessert', 'Order ID'], dtype='object')

### 6. View the last 12 rows in the orders df.

In [20]:
orders.tail(12)

        Filling  Taco Quantity      Side          Dessert  Order ID
88  pollo asada              4  frijoles              NaN    261914
89  carne asada              6       NaN  arroz con leche    163409
90    al pastor              6       NaN      tres leches    648109
91    camarones              6  frijoles      tres leches    544654
92    picadillo              5       NaN           churro    157876
93    al pastor              3  frijoles  arroz con leche    436214
94    camarones              4  esquites           churro    467397
95    picadillo              6  esquites  arroz con leche    208063
96       cabeza              5  esquites             flan    949808
97  carne asada              1  frijoles             flan    748810
98    picadillo              4  esquites             flan    490246
99  pollo asada              1       NaN      tres leches    345585

### 7. Set "Order ID" as the index and remove it as a column from the dataframe. View the first 5 rows of the updated orders df.

### 8. List the columns in the dataframe again

## Practice Section 2

### 9. Return the dessert column.

### 10. Create a separate dataframe for just "Filling" and "Taco Quantity". Preview the first 10 rows.

### 11. Return row 24.

### 12. Return order #893001.

### 13. Return all the orders from #800394 through the end of the sample.

### 14. Return 10 orders, starting at row 73.

### 15. Return any 3x3 chunk from the orders df.

## Practice Section 3

### 16. Return the side order from row 63.

### 17. Return just the taco order data (i.e. filling and quantity) for orders 25 to 40.

### 18. Return the dessert orders from order numbers 938906, 373126, 409317, & 129834.

### 19. How many tacos did the first 10 people buy?

### 20. Return the unique types of taco fillings available (not via the data dictionary).